<!--====
Этот шаблон - чисто проверка работоспособности функции главной страницы в views.py.
В будущем в этом файле будет рабочий код главной страницы (используя шаблонизацию и тд)
По идее шаблоны хранятся в templates/pages/base_htmls/
А сами страницы в templates/pages/
Но тут фронтеры сами разберутся как будет удобнее
Для того чтобы связывать логику страницы с ее отображением стоит обратить внимание на views.py, 
а точнее на словарь, который она возвращает
Например для текущей страницы я возвращаю 'page_name' и 'url' и использую их в этом файле как
{{ page_name }} и {{ url }}
Также передавать можно и другие словари или массивы, обращаясь к ним как
{% for item in list %} и тд
Естественно, тут присутствуют и условные операторы
{% if item != page_name %} и тд
🤯
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_name }}</title>
</head>
<body>
    <a href="{{ url }}">{{ page_name }}</a>
</body>
</html>